## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
###
### Include some macros
###
#template('notification/email/macros.vm')
###
### Override some macros
###
#macro(displaySOPManagerNotificationDescription $compositeEvent)
  <div>
    #foreach ($event in $compositeEvent.events)
      #set ($eventBody = $jsontool.fromString($event.body))
      #set ($eventBody = $jsontool.fromString($event.body))
      #set ($reminderWeeks = $eventBody.reminderWeeks)
      ## Handle singular and plural translations as the number of weeks is expected to be 1 or 2.
      #set ($translationKey = 'notifications.events.org.xwiki.contrib.sopmanager.notification.event.ApproveReminderEvent.description.singular')
      #if ($reminderWeeks > 1)
        #set ($translationKey = 'notifications.events.org.xwiki.contrib.sopmanager.notification.event.ApproveReminderEvent.description.plural')
      #end
      #set ($description = $services.localization.render($translationKey, $reminderWeeks))
      #set ($releaseDateNote = $services.localization.render('notifications.events.org.xwiki.contrib.sopmanager.notification.event.releaseDate',
        $xwiki.formatDate($eventBody.releaseDate, 'dd/MM/yyyy')))
      <p>$description $releaseDateNote</p>
    #end
  </div>
#end
#macro(displaySOPManagerNotificationRightCell $event)
  ###
  ### Link to the Page
  ###
  #displayNotificationPage($event)
  ###
  ### Description, users and date
  ###
  #displaySOPManagerNotificationDescription($event)
#end
###
### Display the event
###
#displayNotificationSkeleton("#displayNotificationLeftCell($event)", "#displaySOPManagerNotificationRightCell($event)")